In [1]:
import pandas as pd

df = pd.read_csv('Minimum Wage Data.csv', encoding='latin')
min_wage = pd.DataFrame()
df.columns

Index(['Year', 'State', 'State.Minimum.Wage',
       'State.Minimum.Wage.2020.Dollars', 'Federal.Minimum.Wage',
       'Federal.Minimum.Wage.2020.Dollars', 'Effective.Minimum.Wage',
       'Effective.Minimum.Wage.2020.Dollars', 'CPI.Average',
       'Department.Of.Labor.Uncleaned.Data',
       'Department.Of.Labor.Cleaned.Low.Value',
       'Department.Of.Labor.Cleaned.Low.Value.2020.Dollars',
       'Department.Of.Labor.Cleaned.High.Value',
       'Department.Of.Labor.Cleaned.High.Value.2020.Dollars', 'Footnote'],
      dtype='object')

In [2]:
for name,group in df.groupby('State'):
    if min_wage.empty:
        min_wage = group.set_index('Year')[['State.Minimum.Wage']].rename(columns={'State.Minimum.Wage': name})
    else:
        min_wage = min_wage.join(group.set_index('Year')[['State.Minimum.Wage']].rename(columns={'State.Minimum.Wage': name}))
min_wage.head()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Year,,,,,,,,,,,,,,,,,,,,,
1968,0.0,2.1,0.468,0.15625,1.65,1.0,1.40,1.25,1.25,0.0,...,0.0,0.0,0.0,1.0,1.4,0.0,1.6,1.0,1.25,1.2
1969,0.0,2.1,0.468,0.15625,1.65,1.0,1.40,1.25,1.25,0.0,...,0.0,0.0,0.0,1.0,1.4,0.0,1.6,1.0,1.25,1.2
1970,0.0,2.1,0.468,1.10000,1.65,1.0,1.60,1.25,1.60,0.0,...,0.0,0.0,0.0,1.0,1.6,0.0,1.6,1.0,1.30,1.3
1971,0.0,2.1,0.468,1.10000,1.65,1.0,1.60,1.25,1.60,0.0,...,0.0,0.0,0.0,1.0,1.6,0.0,1.6,1.0,1.30,1.3
1972,0.0,2.1,0.468,1.20000,1.65,1.0,1.85,1.60,1.60,0.0,...,0.0,1.4,0.0,1.2,1.6,0.0,1.6,1.2,1.45,1.5

In [6]:
min_wage['Michigan'].describe()

count    53.000000
mean      4.540566
std       2.461884
min       1.250000
25%       3.350000
50%       3.350000
75%       6.950000
max       9.650000
Name: Michigan, dtype: float64