In [1]:
import os
import pandas as pd

In [2]:
df = pd.read_csv('all_data.csv')
df = df.dropna(how='all')
pd.isna(df).sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [32]:
df['City'] = df['Purchase Address'].str.split(',').str[1]
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,State,City
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",Dallas,Dallas
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",Boston,Boston
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",Los Angeles,Los Angeles
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",Los Angeles,Los Angeles
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",Los Angeles,Los Angeles

In [36]:
d = pd.DataFrame()
for name,group in df.groupby('City'):
    d = group
d.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,State,City
7,176563,Bose SoundSport Headphones,1,99.99,04/02/19 07:46,"668 Center St, Seattle, WA 98101",Seattle,Seattle
12,176568,Lightning Charging Cable,1,14.95,04/15/19 12:18,"438 Elm St, Seattle, WA 98101",Seattle,Seattle
35,176588,20in Monitor,1,109.99,04/02/19 04:00,"765 Cherry St, Seattle, WA 98101",Seattle,Seattle
59,176612,Apple Airpods Headphones,1,150,04/04/19 19:48,"149 North St, Seattle, WA 98101",Seattle,Seattle
71,176624,AA Batteries (4-pack),1,3.84,04/28/19 10:44,"664 Church St, Seattle, WA 98101",Seattle,Seattle